<app-nav-bar></app-nav-bar>
<section>
    <div class="tabela table-responsive p-5">
      <div class="container-titulo">
        <h2 class="titulo mt-5 mb-5 text-center">Movimentação</h2>
        <a class="btn-criar" [routerLink]="['/criar-movimentacoes']" role="button">+ Criar</a>
      </div>
      <p class="p-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th class="canto1" scope="col">#</th>
            <th scope="col">Nome do navio</th>
            <th scope="col">Data inicio</th>
            <th scope="col">Data fim</th>
            <th scope="col">Tipo de movimentação</th>
            <th class="canto2" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let d of this.data; index as index">
          <tr>
            <th scope="row">{{d.id}}</th>
            <td>{{d.nomeNavio}}</td>
            <td>{{d.dataInicio}}</td>
            <td>{{d.dataFim}}</td>
            <td>{{d.tipoMovimentacao}}</td>
            <a
              class="btn btn-primary text-light mr-2"
              [routerLink]="['/detalhe-movimentacoes', d.id]"
              role="button"
            >Editar</a>

            <a
              class="btn btn-danger text-light ml-2"
              (click)="deletarContainer(d.id)"
              role="button">Deletar</a>
          </tr>
        </tbody>
      </table>
    </div>
</section>
