<app-nav-bar></app-nav-bar>
<section>
  <div class="form-criar">
    <h2>Registrar Equipamento</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sad-ipscing elitr, sed diam nonumy eirmod tempor</p>

    <form class="p5 m-5" #f="ngForm" (ngSubmit)="create(f)">

      <label for="nome_cliente">Nome do cliente</label>
      <input type="text" id="nome_cliente" placeholder="Nome do cliente" name="nomeCliente" ngModel required #nomeCliente="ngModel" />

      <label for="numero_container">Número do container</label>
      <input type="text" id="numero_container" placeholder="Nº container" name="numeroContainer" ngModel required #numeroContainer="ngModel" />

      <label for="tipo_container">Tipo</label>
      <select id="tipo_container" name="tipoContainer" ngModel required #tipoContainer="ngModel">
        <option value="20">20</option>
        <option value="40">40</option>
      </select>

      <label for="tipo_container">Status</label>
      <select id="tipo_container" name="statusContainer" ngModel required #statusContainer="ngModel">
        <option>Cheio</option>
        <option>Vazio</option>
      </select>

      <label for="categoria_container">Categoria Container</label>
      <select id="categoria_container" name="categoriaContainer" ngModel required #categoriaContainer="ngModel">
        <option>Importação</option>
        <option>Exportação</option>
      </select>

      <div class="cadastro">
        <button type="submit">Salvar</button>
        <a [routerLink]="['/containeres']" role="button">Voltar</a>
      </div>
    </form>

  </div>
</section>