<!-- <app-nav-bar></app-nav-bar> -->
<nav class="navbar navbar-dark bg-dark">
  <img src="/../../assets/img/logo-white.png" />

  <ul class="nav text-white">
    <li class="nav-item">
      <a
        class="eqp ativo nav-link active text-white"
        [routerLink]="['/containeres']"
        >equipamentos</a
      >
    </li>
    <li class="nav-item">
      <a
        class="mov nav-link active text-white"
        [routerLink]="['/movimentacoes']"
        >movimentações</a
      >
    </li>
    <li class="nav-item">
      <a class="home nav-link active text-white" [routerLink]="['']">sair</a>
    </li>
  </ul>
</nav>
<section>
  <div class="form-criar">
    <h2>Registrar Equipamento</h2>
    <p>
      Lorem ipsum dolor sit amet, consetetur sad-ipscing elitr, sed diam nonumy
      eirmod tempor
    </p>

    <form class="p5 m-5" #f="ngForm" (ngSubmit)="create(f)">
      <label for="nome_cliente">Nº do equipamento</label>
      <input
        type="text"
        id="nome_cliente"
        placeholder="Nº do equipamento"
        name="cd_numero_cntr"
        ngModel
        required
        #cd_numero_cntr="ngModel"
      />

      <label for="numero_container">situação equipamento</label>
      <input
        type="text"
        id="numero_container"
        placeholder="Nº container"
        name="nm_status"
        ngModel
        required
        #nm_status="ngModel"
      />

      <label for="tipo_container">Tipo de equipamento</label>
      <select
        id="tipo_container"
        name="nm_tipo"
        ngModel
        required
        #nm_tipo="ngModel"
      >
        <option value="hospitalar">hospitalar</option>
        <option value="industrial">industrial</option>
        <option value="eletrônico">eletrônico</option>
      </select>

      <!-- <label for="tipo_container">Status</label>
      <select id="tipo_container" name="statusContainer" ngModel required #statusContainer="ngModel">
        <option>Cheio</option>
        <option>Vazio</option>
      </select> -->

      <!-- <label for="categoria_container">Categoria Container</label>
      <select id="categoria_container" name="categoriaContainer" ngModel required #categoriaContainer="ngModel">
        <option>Importação</option>
        <option>Exportação</option>
      </select> -->

      <div class="cadastro">
        <button type="submit">Salvar</button>
        <a [routerLink]="['/containeres']" role="button">Voltar</a>
      </div>
    </form>
  </div>
</section>
