<app-nav-bar></app-nav-bar>
<div class="container-fluid text-center p-5">
    <div class="jumbotron">
        <h1 class="display-4">Olá seja bem vindo!</h1>
        <p class="lead">Projeto desenvolvido para matéria de DDS-II</p>
        <hr class="my-4">
        <p class="font-weight-bold">Use os botões abaixo ou a navegação acima para visualizar os módulos</p>
        <a class="btn btn-outline-primary btn-lg mr-2" [routerLink]="['/containeres']" role="button">Conteiners</a>
        <a class="btn btn-outline-success btn-lg ml-2" [routerLink]="['/movimentacoes']"role="button">Movimentações</a>
    </div>
    
</div>