<div class="container-fluid text-center p-5">
    <div class="container">
        <h2 class="display-5 mb-5">Seja bem vindo!</h2>
        <form class="col-6 text-center mr-auto ml-auto" #f="ngForm" (ngSubmit)="login(f)">
            <div class="form-group">
                <label for="text-left" class="font-weight-bold">E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entre com seu e-mail">
            </div>
            <div class="form-group">
                <label for="text-left" class="font-weight-bold">Senha</label>
                <input type="password" class="form-control" id="inputSenha" placeholder="Entre com sua senha">
            </div>
            <button type="submit" class="btn btn-success btn-block">Submit</button>
        </form>
    </div>    
</div>