<app-nav-bar></app-nav-bar>
  <section>
    <div class="tabela table-responsive p-5">
      <div class="container-titulo">
        <h2 class="titulo mt-5 mb-5">Equipamentos</h2>
        <a class="btn-criar" [routerLink]="['/criar-container']" role="button">+ Criar</a>
      </div>
      <p class="p-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th class="canto1" scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Nº Equipamento</th>
            <th scope="col">Tipo</th>
            <th scope="col">Status</th>
            <th scope="col">Categoria</th>
            <th class="canto2" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let d of this.data; index as index">
          <tr>
            <th scope="row">{{ d.id }}</th>
            <td>{{ d.nomeCliente }}</td>
            <td>{{ d.numeroContainer }}</td>
            <td>{{ d.tipoContainer }}</td>
            <td>{{ d.statusContainer }}</td>
            <td>{{ d.categoriaContainer }}</td>
            <a
              class="btn btn-primary mr-2 text-light "
              [routerLink]="['/detalhe-container', d.id]"
              role="button"
              >Editar</a>
            <a
              class="btn btn-danger ml-2 text-light p-2"
              (click)="deletarContainer(d.id)"
              role="button"
              >Deletar</a
            >
          </tr>
        </tbody>
      </table>
    </div>
</section>
