<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <h2 class="text-center mt-5 mb-5">Atualizar Container</h2>
  <div class="container">

    <form class="p5 m-5" #f="ngForm" (ngSubmit)="update(f)">
      <a class="btn btn-primary mb-2" [routerLink]="['/containeres']" role="button">Voltar</a>
      <div class="form-group">
        <input
          type="hidden"
          class="form-control"
          id="id"
          placeholder="id"
          name="id" 
          ngModel="{{data.id}}"
          required 
          #id="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="nome_cliente">Nome do cliente</label>
        <input
          type="text"
          class="form-control"
          id="nome_cliente"
          placeholder="{{ data.nomeCliente }}"
          name="nomeCliente" 
          ngModel="{{ data.nomeCliente }}" 
          required #nomeCliente="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="numero_container">Número do container</label>
        <input
          type="text"
          class="form-control"
          id="numero_container"
          placeholder="Nº container"
          name="numeroContainer" 
          ngModel="{{data.numeroContainer}}"
          required #nomeCliente="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="tipo_container">Tipo</label>
        <select 
          class="form-control" 
          id="tipo_container"
          name="tipoContainer" 
          ngModel="{{data.tipoContainer}}" 
          required #tipoContainer="ngModel"
          >
          <option value="20">20</option>
          <option value="40">40</option>
        </select>
      </div>

      <div class="form-group">
        <label for="tipo_container">Status</label>
        <select 
          class="form-control" 
          id="tipo_container"
          name="statusContainer" 
          ngModel="{{data.statusContainer }}" 
          required #statusContainer="ngModel"
          >
          <option>Cheio</option>
          <option>Vazio</option>
        </select>
      </div>

      <div class="form-group">
        <label for="categoria_container">Categoria Container</label>
        <select 
          class="form-control" 
          id="categoria_container"
          name="categoriaContainer" 
          ngModel="{{data.categoriaContainer}}"
          required #categoriaContainer="ngModel"
          >
          <option>Importação</option>
          <option>Exportação</option>
        </select>
      </div>

      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>
</div>
