<app-nav-bar></app-nav-bar>
<div class="container-fluid" *ngIf="this.data">
  <h2 class="text-center mt-5 mb-5">Atualizar Container</h2>
  <div class="container">
    <form class="p5 m-5" #f="ngForm" (ngSubmit)="update(f)">
      <a
        class="btn btn-primary mb-2"
        [routerLink]="['/containeres']"
        role="button"
        >Voltar</a
      >
      <!-- <div class="form-group">
        <input
          type="hidden"
          class="form-control"
          id="id"
          placeholder="id"
          name="id"
          ngModel="{{ data.id }}"
          required
          #id="ngModel"
        />
      </div> -->

      <div class="form-group">
        <label for="nome_cliente">Nº do equipamento</label>
        <input
          type="text"
          class="form-control"
          id="nome_cliente"
          placeholder="Nº"
          name="cd_numero_cntr"
          ngModel="{{ data.cd_numero_cntr }}"
          required
          #cd_numero_cntr="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="numero_container">Status do equipamento</label>
        <input
          type="text"
          class="form-control"
          id="numero_container"
          placeholder="Status"
          name="nm_status"
          ngModel="{{ data.nm_status }}"
          required
          #nm_status="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="tipo_container">Tipo de equipamento</label>
        <select
          class="form-control"
          id="tipo_container"
          name="nm_tipo"
          ngModel="{{ data.nm_tipo }}"
          required
          #nm_tipo="ngModel"
        >
       
          <option value="hospitalar">hospitalar</option>
          <option value="industrial">industrial</option>
          <option value="eletrônico">eletrônico</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="tipo_container">Status</label>
        <select 
          class="form-control" 
          id="tipo_container"
          name="statusContainer" 
          ngModel="{{data.statusContainer }}" 
          required #statusContainer="ngModel"
          >
          <option>Cheio</option>
          <option>Vazio</option>
        </select>
      </div> -->

      <!-- <div class="form-group">
        <label for="categoria_container">Categoria Container</label>
        <select 
          class="form-control" 
          id="categoria_container"
          name="categoriaContainer" 
          ngModel="{{data.categoriaContainer}}"
          required #categoriaContainer="ngModel"
          >
          <option>Importação</option>
          <option>Exportação</option>
        </select>
      </div> -->

      <button type="submit" class="btn btn-success">Salvar</button>
    </form>
  </div>
</div>
