<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
      
      <ul class="nav text-white">
        <li class="nav-item">
            <a class="navbar-brand" [routerLink]="['']">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" [routerLink]="['/containeres']">Containeres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" [routerLink]="['/movimentacoes']">Movimentações</a>
        </li>
      </ul>
</nav>