<!-- <app-nav-bar></app-nav-bar> -->
<nav class="navbar navbar-dark bg-dark">
  <img src="/../../assets/img/logo-white.png">

    <ul class="nav text-white">
      <li class="nav-item">
        <a class="eqp nav-link active text-white" [routerLink]="['/containeres']">equipamentos</a>
      </li>
      <li class="nav-item">
        <a class="mov ativo nav-link active text-white" [routerLink]="['/movimentacoes']">movimentações</a>
      </li>
      <li class="nav-item">
        <a class="home nav-link active text-white" [routerLink]="['']">sair</a>
    </li>
    </ul>
</nav>
<section>
  <div class="form-criar">
    <h2>Registrar Movimentação</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sad-ipscing elitr, sed diam nonumy eirmod tempor</p>
    <form #f="ngForm" (ngSubmit)="create(f)">

      <label for="nome_cliente">Nome do navio</label>
      <input type="text" id="nome_cliente" placeholder="Nome do Navio" name="nomeNavio" ngModel required
        #nomeNavio="ngModel" />

      <label for="numero_container">Data início</label>
      <input type="date" id="numero_container" placeholder="Nº container" name="dataInicio" ngModel required
        #dataInicio="ngModel" />

      <label for="numero_container">Data fim</label>
      <input type="date" id="numero_container" placeholder="Nº container" name="dataFim" ngModel required
        #dataFim="ngModel" />

      <label for="tipo_container">Selecione um container</label>
      <select id="tipo_container" name="containerId" ngModel required #numeroContainer="ngModel">
        <option value="" disabled selected>Selecione um container</option>
        <option *ngFor="let d of dataContainer" value={{d.id}}>Nº: {{d.numeroContainer}}</option>
      </select>



      <label for="tipo_container">Tipo Movimentação</label>
      <select id="tipo_container" name="tipoMovimentacao" ngModel required #tipoMovimentacao="ngModel">
        <option value="" disabled selected>Tipo de movimentação</option>
        <option>Embarque</option>
        <option>Desembarque</option>
        <option>Gate In</option>
        <option>Gate Out</option>
        <option>Posicionamento</option>
        <option>Pilha</option>
        <option>Pesagem</option>
        <option>Scanner</option>
      </select>

      <div class="cadastro">
        <button type="submit">Salvar</button>
        <a [routerLink]="['/movimentacoes']" role="button">Voltar</a>
      </div>


    </form>
  </div>
</section>
